page-about {

 .logo-container {
    position: relative;
    z-index: 2;
    margin-top: 1rem;
    text-align: center;
  }

  .app-logo {
    margin: auto;
    background: url('../assets/imgs/logo.png') repeat transparent;
    background-size: 100%;
    width: 128px;
    height: 128px;
  }
  
}
